<div class="container-fluid">
  <h1 class="mt-4">Liste du personnel</h1>
  <a routerLink="/personnel/create">Créer un utilisateur</a>

    <!-- <table mat-table [dataSource]="datasource">

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="prenoms">
        <th mat-header-cell *matHeaderCellDef>Prenoms</th>
        <td mat-cell *matCellDef="let element">{{ element.prenoms}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table> -->

</div>